body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiAccordion-root {
  border-radius: 6px !important;
}

.MuiPaper-root {
  border-radius: 6px;
}

#root {
  min-height: 100vh;
}
